<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
@*    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
*@    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>
<body>

    <div class="container login-container">
       @* <h2 class="text-center mb-4">Login</h2>*@
        <form>
            <div class="form-group">
                <label for="userId">User ID:</label>
                <input type="text" class="form-control" id="userId" placeholder="Enter your user ID" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
            </div>
            <button type="button" class="btn btn-primary btn-block" onclick="login()">Login</button>
        </form>
    </div>

    <!-- Bootstrap JS and jQuery -->
   @* <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>*@

    <script>
        $(document).ready(function () {
            $(".openbtn").remove();
        });

        function login() {
            $("#preloader").show();
            var username = $("#userId").val();
            // AJAX call to validate login
            $.ajax({
                type: "POST",
                url: "/Login/ValidateLogin",
                data: { userId: $("#userId").val(), password: $("#password").val() },
                dataType: "json",
                success: function (response) {
                      $("#preloader").hide();
                    if (response.success) {
                        // Successful login, redirect to the specified URL
                        sessionStorage.setItem("loggedinusername", username);
                        window.location.href = response.redirectUrl;
                    }
                    else if(response.errorMessage === undefined){
                        alert(response.error)
                    }
                    else {
                        // Display error message
                        alert(response.errorMessage);
                    }
                },
                error: function (error) {
                    $("#preloader").hide();
                    // Handle error
                    console.error("Error during login validation:", error);
                }
            });
        }
    </script>

</body>
</html>
